:root {
    --accent: #573323;
    --code: #573323;
    
    margin: 0;
    padding: 0;
    color: #0000FF;
    line-height: 1.5;

    font-family: "Noto Sans TC", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;  
    font-size: 1.25em;

}
  
html {
    scroll-behavior: smooth;
    scroll-padding: 4rem;
}

h1,h2 {
    font-weight: 500;
    padding-bottom: 1em;    
}
  
h3 {
    font-weight: 400;
    padding-bottom: 1em;
}


section {
    margin-bottom: 80px;
}

footer {
    text-align: center;
    background-color: #d6d6d6;
    line-height: 3em;
    margin-bottom: 0px;
}



